th, td { padding: 5px;
         text-align: center;
         border: 1px solid black;
         border-bottom-width: 0px;
}

body{
	min-width: 
}

tr:last-child td {
border: 1px solid black;border: 1px solid #444;}
table { border-spacing: 0; border: 0; margin:0px; padding:5px}

input[type="text"]::placeholder {  
	text-align: center;
	}
.users,.booked-flights,.payments,.see-flights{
	display: none;
}
.insert{
		background-color: #DCDA33;
		width:800px; 
		margin-left:280px;
		margin-right:200px;
		border:1px solid black;
		border-radius: 8px;

}

.form-s{
	width: 400px;
	height: 30px;
	border: 2px solid black;
	border-radius: 15px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	background-color: #49FD83;

}
.form-i{
			font-style: bold;
			font-size: 20px;
			padding: 10px;
			background: white;
			text-align: center;
			border-width: 0;
			border: 1px solid black;
			border-radius: 5px;
			width: 200px;
		
		}
		.form-i-plus{
			font-style: bold;
			font-size: 20px;
			padding: 10px;
			background: white;
			text-align: center;
			border-width: 0;
			border: 1px solid black;
			border-radius: 5px;
			width: 144px;
		
		}
.btn-s{
	border: 2px solid black;
	padding: 9px;
	padding-bottom: 8px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	background-color: orange;
	font-weight: bold;
	cursor: pointer;
	margin-left: -5px;
	margin-bottom: -10px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;

}
.btn-s:hover{
	background-color: darkorange;
	font-size: 
}
.btn-i{
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	background-color: #379D24;
	font-size: 20px;
	color: white;
	cursor: pointer;
	width: 200px;
	font-weight: bold;

}
.btn-i:hover{
	background-color: #2B7C1C;
}
.c-admin{
	background-color: #DCDA33;
		width:300px; 
		border:1px solid black;
		border-radius: 8px;
		margin-top: 60px;
		margin-left: 550px;
		margin-right: 500px;
}

.nav{
	background-color: red;
	width: 90px;
	margin: 0;
	padding: 0;
	margin-left: 600px;
	margin-top: -40px;
	text-align: center;


}
input:focus {
    outline: 0 !important;
}
